#home {
    display: flex;
    min-height: calc(100vh-91px);    
}

#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#cta .title{
    font-size: 4rem;
    color: #1C1E52;
}

#cta .description {
    font-size: 1.2rem;
}

#cta_buttons {
    display: flex;
    gap: 24px;
}

#cta_buttons a {
    text-decoration: none;
    color: #1C1E52;
}

#banner {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 70%;
}
 
#banner img {
    height: 100%;
    width: fit-content;
}